*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    flex-direction: column;
    background-color: #fff6c7;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;

    border-bottom:4px solid #ffc1b2;
}

header nav ul{
    list-style-type: none;
    display: flex;
}

header nav ul li{
    margin: 15px;
}

header nav ul li a{
    color: #9d9382;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 1s;
}

.cambioColor:hover {
    background-color: #ffdbc8;
    font-size: 28px;
}

.imagen-header{
    border: 2px solid #f5dabd;
    height: 25px;
    width: 25px;
}

.tituloIndex{
    background-color: #fff6c7;
    color: black;
    padding: 50px;
    text-align: center;
    border: 5px solid #ffc1b2;
    font-family: Arial, Helvetica, sans-serif;
}

.imagenIndex{
    display: flex;
    flex-direction: column;
    padding: 15%;
}

.imagen-principal{
    display: flex;
    flex-direction: column;
    padding: 15%;
}

body {
    background-color: #dcd7c2;
    color: #8c886f ;
}

footer{
    display: flex;
    flex-direction: column;
    background-color: #fff6c7;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;

    border-bottom:4px solid #ffc1b2;
}

footer nav ul{
    list-style-type: none;
    display: flex;
}

footer nav ul li{
    margin: 15px;
}

footer nav ul li a{
    color: #9d9382;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 1s;
}

