body{
    h1{
        color: #ffe1b0;
        text-align: center;
    }
    
    section{
        .grid-item-01Receta{
            background-color: #cc1b0c;
            color:#ffe1b0;
            grid-column: 1/3;
            grid-row: 1/5;
            border-radius: 10px;
            padding: 25px;

                .card-receta{
                    background-color: #ffe1b0;
                    color: #cc1b0c;
                }
        }

        .grid-item-02Receta{
            background-color: #cc1b0c;
            color:#ffe1b0;
            grid-column: 3/6;
            grid-row: 1/5;
            border-radius: 10px;
            padding: 25px;
        }
    }
}