footer{
    background-color: #b7cbbf;
    text-align: center;
}
header{
    display: flex;
    align-items: center;
    background-color: #b7cbbf;
    justify-content: space-between;
}
body {
   background-color: #f4bfad;
   color: #8c886f ;
}
.imagen-footer{
    border: 2px solid #f5dabd;
    height: 25px;
    width: 25px;
}
.oferta{
    text-align: center;
    height: 200px;
    width: 700px;
}
header nav ul{
    list-style-type: none;
    display: flex;
}

header nav ul li{
    margin: 5px;
}

header nav ul li a{
    color: #8c886f;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}